@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/yesevaone/v15/OpNJno4ck8vc-xYpwWWxpio.ttf) format('truetype');
}
/* line 25, style.less */
html {
  font-size: 10px;
}
/* line 29, style.less */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #1f1c1d;
}
/* line 34, style.less */
a,
a:hover {
  text-decoration: none;
}
/* Убираем обводку у кнопок и форм при фокусе */
/* line 40, style.less */
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
/* line 71, style.less */
.container {
  padding-right: 9rem;
  padding-left: 9rem;
  margin-right: auto;
  margin-left: auto;
  min-width: 0;
}
/* --------------------------------------------------------------------- */
/* line 83, style.less */
.main {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: url("../img/head-cat.png") no-repeat bottom right, #181617;
  background-size: auto;
}
/* line 90, style.less */
.header {
  position: relative;
  display: grid;
  grid-template-areas: "logo logo" "headerTitle cat";
  grid-template-columns: 5fr 6fr;
}
/* line 97, style.less */
.header-title {
  text-align: left;
  margin-left: 10rem;
  padding-top: 10rem;
  grid-area: headerTitle;
}
/* line 104, style.less */
.header-title > h1 {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 1.15;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: white;
}
/* line 117, style.less */
.section-title {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 1.17;
  color: #FFFFFF;
}
/* line 124, style.less */
.section-subtitle {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #a07b50;
  min-height: 5.5rem;
  max-width: 52rem;
}
/* line 134, style.less */
.button-show {
  display: block;
  max-width: 20rem;
  margin-top: 7.2rem;
  margin-bottom: 10rem;
  padding: 2rem 2.5rem;
  border: 1px solid #a07b50;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  line-height: 1.15;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 147, style.less */
.button-show:hover {
  background-color: #a07b50;
  color: white;
}
/* line 152, style.less */
.button-show_centered {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
/* line 159, style.less */
.logo {
  grid-area: logo;
}
/* line 162, style.less */
.logo .crown {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 170, style.less */
.social {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 177, style.less */
.social-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
}
/* line 184, style.less */
.social .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 189, style.less */
.social .wrapper::before {
  content: '';
  width: 0.1rem;
  height: 8rem;
  background: white;
  position: absolute;
  bottom: 110%;
  left: 50%;
}
/* line 204, style.less */
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12rem;
  text-align: center;
}
/* line 211, style.less */
.menu .menu-link:focus,
.menu .menu-link.active {
  color: white;
}
/* line 216, style.less */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
  list-style: none;
  font-size: 1.8rem;
  line-height: 1.17;
}
/* line 227, style.less */
.menu-item {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* line 231, style.less */
.menu-item a {
  color: rgba(255, 255, 255, 0.2);
}
/* line 234, style.less */
.menu-item a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 244, style.less */
.menu-item a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/* line 252, style.less */
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 255, style.less */
.slider-nav {
  overflow: hidden;
  width: 280px;
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 400px;
  /* border: 1px solid white; */
}
/* line 263, style.less */
.slider-nav .swiper-slide {
  height: 100px;
  width: 100px;
}
/* line 267, style.less */
.slider-nav .swiper-slide img {
  height: 100%;
}
/* line 273, style.less */
.slider-main {
  overflow: hidden;
  height: 400px;
  /* border: 1px solid white; */
  position: relative;
}
/* line 279, style.less */
.slider-main img {
  height: 100%;
}
/* line 285, style.less */
.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: #a07b50;
}
/* line 298, style.less */
.features-ring img {
  width: 100%;
}
/* line 308, style.less */
.promo {
  background-color: #151313;
}
/* line 311, style.less */
.promo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
/* line 318, style.less */
.promo .col {
  background: #1f1c1d;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2rem;
}
/* line 326, style.less */
.promo .card {
  padding: 2.5rem;
}
/* line 329, style.less */
.promo .card-text {
  color: white;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: center;
  min-height: 5.5rem;
}
/* line 337, style.less */
.promo .card-img {
  height: 100%;
  max-height: 10rem;
  fill: yellow;
  stroke: green;
}
/* line 346, style.less */
.promo .card:hover {
  background: #a07b50;
}
/*-----------------------------------------------------------------*/
@media (max-width: 1200px) {
  /* line 362, style.less */
  .main {
    background-size: 50%;
  }
  /* line 366, style.less */
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (max-width: 768px) {
  /* line 373, style.less */
  .header-title {
    margin-left: 4rem;
  }
  /* line 376, style.less */
  .header-title h1 {
    font-size: 3.6rem;
  }
  /* line 381, style.less */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 386, style.less */
  .social {
    left: 4rem;
  }
  /* line 389, style.less */
  .social .wrapper {
    display: block;
  }
  /* line 392, style.less */
  .social .wrapper::before {
    display: none;
  }
  /* line 397, style.less */
  .social-icon {
    margin-right: 2rem;
  }
  /* line 402, style.less */
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    color: #a07b50;
  }
  /* line 408, style.less */
  .slider-nav {
    display: none;
  }
}
@media (max-width: 320px) {
  /* line 414, style.less */
  .main {
    text-align: center;
    padding-top: 1rem;
    background-size: contain;
    background-position: bottom center;
  }
  /* line 421, style.less */
  .header {
    display: block;
    padding-bottom: 20rem;
  }
  /* line 425, style.less */
  .header-title {
    padding-top: 4rem;
    margin-left: 0;
  }
  /* line 429, style.less */
  .header-title h1 {
    font-size: 2.8rem;
  }
  /* line 433, style.less */
  .header-title span {
    font-size: 1.2rem;
  }
  /* line 439, style.less */
  .social {
    display: none;
  }
}
