root {
    --radius: 200px;
    --x1: 26.8px;
    --y1: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
}

.wrap {
    position: relative;
    border: 0.5px solid #A07B50;
    border-radius: 50%;
    width: 630px;
    height: 630px;
}

.wrap .img-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A07B50;
    position: absolute;
    left: calc(106.65px - 15px);
    top: 78.75px;
}

.text-1 {
    max-width: 255px;
    position: absolute;
    left: calc(106.65px - 15px);
    top: 78.75px;
}

.wrap .img-2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A07B50;
    position: absolute;
    left: calc(525.35px);
    top: 78.75px;
}

.wrap .img-3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A07B50;
    position: absolute;
    left: calc(39px);
    top: 472.5px;
}

.wrap .img-4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #A07B50;
    position: absolute;
    left: calc(590px - 15px);
    top: 475px;
}